<section>
Git is a distributed revision control and source code management system with an emphasis on speed. Git was initially designed and developed by Linus Torvalds for Linux kernel development. Git is a free software distributed under the terms of the GNU General Public License version 2. This tutorial explains how to use Git for project version control in a distributed environment while working on web-based and non web-based applications development.

Audience
This tutorial will help beginners learn the basic functionality of Git version control system. After completing this tutorial, you will find yourself at a moderate level of expertise in using Git version control system from where you can take yourself to the next levels.

Prerequisites
We assume that you are going to use Git to handle all levels of Java and Non-Java projects. So it will be good if you have some amount of exposure to software development life cycle and working knowledge of developing web-based and non web-based applications.
</section>

<section class="hover-right-sidenav">
	<button class="hover-button btn btn-success d-inline" type="button"
    (click)="onSidenavButtonClick()"
    [ngStyle]="{'right':!sidenavOpen === false ? '0%' : '60%' }">
          Button
  </button>
	<div class="d-inline hover-content" *ngIf="!sidenavOpen">
		<div class="container">
			<div class="row align-items-center m-3 m-md-3">
				<h3 class="text-primary text-center">Registration Form</h3>
        <div class="col-12 border border-dark">
					<form class="form">
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="firstName">FirstName:</label>
								<input type="text" class="form-control" name="firstName">
            </div>
								<div class="col-md-6 form-group">
									<label for="lastName">LastName:</label>
									<input type="text" class="form-control" name="lastName">
            </div>
								</div>
								<div class="row">
									<div class="col-md-6 form-group">
										<label for="state">State:</label>
										<select class="custom-select">
                <option value="">Select</option>
                <option value="ap">Andhra Pradesh</option>
                <option value="tel">Telangana</option>
              </select>
									</div>
									<div class="col-md-6 form-group">
										<label for="address">Address:</label>
										<textarea rows="3" class="form-control"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 form-group">
										<label for="gender">Gender:</label>
										<div class="" id="gender">
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" class="custom-control-input" value="male" id="male" name="gender" />
												<label for="male" class="custom-control-label">Male</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" class="custom-control-input" value="female" id="female" name="gender"/>
												<label for="female" class="custom-control-label">FeMale</label>
											</div>
										</div>
									</div>
									<div class="col-md-6 form-group">
										<label for="languagesKnown">Languages Known:</label>
										<div class="" id="languagesKnown">
											<div class="custom-control custom-control-inline custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="c"/>
												<label class="custom-control-label" for="c">C</label>
											</div>
											<div class="custom-control custom-control-inline custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="cplusplus"/>
												<label class="custom-control-label" for="cplusplus">C++</label>
											</div>
											<div class="custom-control custom-control-inline custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="java"/>
												<label class="custom-control-label" for="java">Java</label>
											</div>
										</div>
									</div>
								</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>